@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* Observação: "rem" -> funciona para separação distância de um
item e o outro, seja texto ou icone para margin */
:root {
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: 0.1rem solid rgba(255,255,255,0.3);
    font-size: 10px;
}

* {
    /* Padrão */
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: var(--bg);
}

section {
    /* Todas as nossas seções terão estes valores */
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.header {
    /* Todos estes comandos deixará responsivo o cabeçalho "Fixo" 
    mesmo que eu desça a página */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    background-color: var(--bg);
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar a {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: #fff;
}

.navbar a:hover {
    color: var(--main-color);
    border-bottom: 0.1 solid var(--main-color);
    padding-bottom: 0.5rem;
    font-size: 2rem;
    text-decoration: underline 0.5rem;
}

.icons img{
    margin: 1rem;
    cursor: pointer;
}

.icons img:hover {
    width: 40px;
    height: 40px;
}

.btn {
    background: #634314 ;
    color: #fff;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
    border-radius: 2rem;
}

.btn:hover {
    background-color: var(--main-color);
    letter-spacing: 0.1rem;
}

.home-container {
    /* Adicionou a imagem dentro de img */
    background: url(./img/home-img.jpg);
    /* Posicionou a imagem no centro */
    background-position: center;
    /* Ele pega tudo o que está faltando "preenche" */
    background-size: cover;
}

.home-container section {
    display: flex;
    align-items: center;
    /* Deu o tamanho para o banner */
    min-height: 100vh;
}

.content {
    max-width: 60rem;
}

.content h3 {
    color: #fff;
    font-size: 6rem;
}

.content p {
    color: #fff;
    font-size: 2rem;
    font-weight: 100;
    /* Ajusta a distância da linha dos textos */
    line-height: 1.8;
    padding: 1rem 0;
}

.title {
    font-size: 5rem;
    color: var(--main-color);
    /* Alinhou no meio o texto */
    text-align: center;
    /* uppercase transforma em maiusculo */
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.title span {
    color: #fff;
    /* uppercase transforma em maiusculo */
    text-transform: uppercase;
}

.about .row {
    /* O display flex já separa cada um pro seu lado */
    display: flex;
    align-items: center;
    border-radius: 2rem;
    background-color: var(--black);
    /* O gap ajuda separar o texto da imagem */
    gap: 1.5rem;
}

.container-image img {
    border-radius: 2rem;
}

.about .row .content {
    /* Desgrudou as coisas */
    padding: 2rem;
}

.about .row .content h3 {  
    font-size: 3rem;
    color: #fff;
}

.about .row .content p {
    font-size: 1.6rem;
    color: #fff;
    padding: 1rem 0;
    line-height: 1.8;  
}

.menu .box-container {
    /* O display grid entende que você vai querer utiliza-los em forma
    de grades e já separa */
    display: grid;
    /* Abaixo você diz ao display: grid que você quer que repita,
    quantas colunas eu colocar */
    /* auto-fit você disse para ele organizar para você e minmax 
    você disse que mesmo no mobile será fixo 30rem e 1fr  */
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 5rem;
}

.menu .box-container .box img {
    height: 10rem;
}

.menu .box-container .box h3 {
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box .price {
    color: #fff;
    font-size: 2.5rem;
    padding: 0.5rem 0;
}